body {
  background: url(https://res.cloudinary.com/ccrotty2/image/upload/v1468873545/stock-photo-41198398-compressor_gzmv2q.jpg);
  color: white;
  font-family: Verdana;
}

header {
  background-color: #333;
  height: 250px;
}

#logo {
  margin-top: 20px;
  margin-left: 220px;
  margin-right: 0px;
  width: 500px;
  height: 200px;
  padding: px;
}

.mainnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #CD5C5C;
}

.active {
  background-color: #CD5C5C;
}

.searchbar[type=text] {
  float: right;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.side1 {
  height: 720px;
  width: 170px;
  background-color: #333;
  float: left;
  margin-bottom: 30px;
  margin-top: 31px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 5px;
}

.side2 {
  height: 660px;
  width: 170px;
  background-color: #333;
  float: right;
  margin-bottom: 30px;
  margin-top: 31px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 5px;
}

.follow {
  font-size: 25px;
}

div.img {
  margin: 5px;
  float: left;
  width: 100px;
}

div.img img {
  width: 100%;
  height: auto;
}

h3 {
  font-size: 20px;
  margin-left: 10px;
}

article {
  background-color: #333;
  height: 1200px;
  width: 900px;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 250px;
  border-radius: 5px;
  border: 10px groove #CD5C5C;
}

h1 {
  margin-right: 1500px;
  font-size: 50px;
}

.short {
  font-size: 17px;
  line-height: 170%;
  text-align: center;
  width: 800px;
  float: left;
  margin-left: 40px;
}

.info {
  background-color: #CD5C5C;
  width: 400px;
  tex-algin: center;
  float: left;
  margin-left: 200px;
  margin-right: 400px;
}

footer {
  height: 50px;
  background-color: #333;
  margin-top: 20px;
  border-radius: 5px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

/*.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
